*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    background-color: rgba(0, 0, 0, 0.368);
    height: 1000px;
    margin: 40px;
    text-align: center;
    color: white;
    
}

header{
    font-family: 'Bowlby One SC';
}

.formlar{
    background-color: rgba(0, 0, 0, 0.8);
    width: 30%;
    margin: auto;
    height: 60vh;

}